# Node
backend/node_modules/
frontend/node_modules/
backend/.env
frontend/.env
backend/.DS_Store
frontend/.DS_Store

# Build outputs
frontend/dist/
frontend/build/

#Model files
#backend/model/
#backend/data/